[submodule "themes/academic"]
	path = themes/academic
	url = git@github.com:gcushen/hugo-academic.git
[submodule "benwibking.github.io"]
	path = public
	url = git@github.com:BenWibking/benwibking.github.io.git
